*{
    margin:0%;
    padding:0%;
}


    img{
        width:100%;
        height:100%;
/* box-shadow:2px 2px 2px 2px ; */
        }
    main{
            grid-template-rows:200px 100px 100px 100px ;
            grid-template-columns: 20% 20% 20% 20% ;
            display:grid;
            /* <!-- grid-gap:10Px; --> */
        }
    

        .zomatohead{
                        grid-row:1/4;
                        grid-column:1/6;
                        background-color:rebeccapurple;
                    }
        
        .zomatowrd{
                    margin-left:50vh;
                    margin-top:-40vh;
                    font-family: Times New Roman, serif;
                    font-size:9vw;
                    color:ghostwhite;
                 }
        .inputtxt{
                    margin-left:60vh;
                    margin-top:5vh;
                    width:30%;
                    height:7%;
    box-shadow:1px 1px 1px 1px;               
                }
        .btn{
             margin-left:1%;
             margin-top:-1%;
             width:100px;
             height:30px;
             font-family: 'Times New Roman', Times, serif;
             font-size:1vw;
             box-shadow:1px 1px 1px 1px;
            }
  .food1img{
    margin-left:3vw;
    margin-top:2vw;
    width:24vw;
    height:29vw;
    /* background-color: blue; */
    box-shadow: 3px 3px 3px 3px;
    border-radius:10px;
  }
      
  .food2img{
    margin-left:3vw;
    margin-top:2vw;
    width:24vw;
    height:29vw;
    /* background-color: aquamarine; */
    box-shadow: 3px 3px 3px 3px;
    border-radius: 10px;
  } 
  .food3img{
    margin-left:3vw;
    margin-top:2vw;
    width:24vw;
    height:29vw;
    /* background-color: chocolate; */
    box-shadow: 3px 3px 3px 3px;
    border-radius: 10px;
  }
         
             
   
        
       
        
      .image-container {
        position: relative;
        width: 357px; /* Set your image width */
        height: 432px; /* Set your image height */
        overflow: hidden;
        box-shadow: -1rem 0 3rem #000;
        border-radius: 10px;
      }
      
      .image-container img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
      }
      
      
      
      .image-container:hover img {
        transform: scale(1.1);
      }
      
      .image-container:hover .overlay {
        opacity: 1;
      }
                                                                .image-containerb {
                                                                  position: relative;
                                                                  width: 357px; /* Set your image width */
                                                                  height: 432px; /* Set your image height */
                                                                  overflow: hidden;
                                                                  box-shadow: -1rem 0 3rem #000;
                                                                  border-radius: 10px;
                                                                }
                                                                
                                                                .image-containerb img {
                                                                  width: 100%;
                                                                  height: auto;
                                                                  transition: transform 0.3s ease;
                                                                }
                                                                
                                                                .overlayb {
                                                                  position: absolute;
                                                                  top: 0;
                                                                  left: 0;
                                                                  width: 100%;
                                                                  height: 100%;
                                                                  background-color: rgba(0, 0, 0, 0.5);
                                                                  color: white;
                                                                  opacity: 0;
                                                                  transition: opacity 0.3s ease;
                                                                  display: flex;
                                                                  flex-direction: column;
                                                                  justify-content: center;
                                                                  align-items: center;
                                                                }
                                                                
                                                                .image-containerb:hover img {
                                                                  transform: scale(1.1);
                                                                }
                                                                
                                                                .image-containerb:hover .overlayb {
                                                                  opacity: 1;
                                                                }
                                  .image-containerp {
                                                      position: relative;
                                                      width: 357px; /* Set your image width */
                                                       height: 432px; /* Set your image height */
                                                       overflow: hidden;
                                                       box-shadow: -1rem 0 3rem #000;
                                                       border-radius: 10px;
                                                     }
                                                                
                                                                .image-containerp img {
                                                                  width: 100%;
                                                                  height: auto;
                                                                  transition: transform 0.3s ease;
                                                                }
                                                                
                                                                .overlayp {
                                                                  position: absolute;
                                                                  top: 0;
                                                                  left: 0;
                                                                  width: 100%;
                                                                  height: 100%;
                                                                  background-color: rgba(0, 0, 0, 0.5);
                                                                  color: white;
                                                                  opacity: 0;
                                                                  transition: opacity 0.3s ease;
                                                                  display: flex;
                                                                  flex-direction: column;
                                                                  justify-content: center;
                                                                  align-items: center;
                                                                }
                                                                
                                                                .image-containerp:hover img {
                                                                  transform: scale(1.1);
                                                                }
                                                                
                                                                .image-containerp:hover .overlayp {
                                                                  opacity: 1;
                                                                }
            main3{
            grid-template-rows:200px 100px 100px  50px 10px 10px 10px 10px 10px  10px 100px;
            grid-template-columns:5% 2% 10% 10% 10% 10% 10% 10% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3% 3%;
            display:grid;
grid-gap:3px;
/* display:none; */
            }
            
             .tblrestrodetail{
                        margin-top:0px;
                        grid-row:1/5;
                        grid-column:1/3;
                        /* background-color:rgb(255, 255, 255); */
                     }
 .tblrestrodetail1{
                  grid-row:1/4;
                  grid-column:3/8;
                  background-color:blanchedalmond;
                  box-shadow: -1rem 0 3rem #000;
                  /* box-shadow: -1rem 0 3rem #000; */
                  }
     .tblrestrodetail2{
      grid-row:1/2;
      grid-column:8/16;
      background-color: #000000;
      
      /* box-shadow: 3px 2px 0px 0px;
      border-radius:3px 3px 3px 3px ; */
    }
      .tblrestrodetail3
      {
          grid-row:2/4;
          grid-column:8/16;
          background-color: aquamarine;
          box-shadow:2px 2px 2px 2px;
          border-radius:3px 3px 3px 3px ;
      }
      .tblrestrobottom{
        grid-row:4/5;
        grid-column:3/5;
        /* background-color: cornflowerblue; */
      }
        .tblrestrobottom1{
                          grid-row:4/5;
                          grid-column:5/8;
                          /* background-color: darkmagenta; */
                           }
              .tblrestrobottomrating2{
                              grid-row:4/5;
                              grid-column:8/9;
                              /* background-color:#6baaf7; */
                            }
                    .rating1{
                              margin-top:10px;
                              margin-left:10px;
                              width: 55px;
                              height: 30px;
                              border-radius:5px 5px 5px 5px;
                              /* background-color: orange; */
                            }
                    .rating2{
                                margin-top:10px;
                                margin-left:10px;
                                width: 55px;
                                height: 30px;
                                border-radius:5px 5px 5px 5px;
                                /* background-color: orange; */
                            }
                    .ratingnum{
                              margin-left:70px;
                              margin-top:-33px;
                             }
                    .rating2num{
                                  margin-left:70px;
                                  margin-top:-33px;
                                }
                    .ratingdinig{
                                  width:70px;
                                  margin-left:70px;
                                  font-family: 'Times New Roman', Times, serif;
                                  font-size:11px;
                                 }
                    .rating2dinig{
                                  width:70px;
                                  margin-left:70px;
                                  font-family: 'Times New Roman', Times, serif;
                                  font-size:8px;
                                 }
              .tblrestrobottomrating3{
                                grid-row:4/5;
                                grid-column:9/12;
                                /* background-color: rgb(198, 31, 31); */
                                }
                .tblrestrorating4{
                                grid-row:4/5;
                                grid-column:12/16;
                                /* background-color: aqua; */
                                }
              .tblrestrofooddetail{
                                  grid-row:5/7;
                                  grid-column:3/16;
                                  /* background-color: darkgreen; */
                                  }
                  .tblrestroaddres{
                                  grid-row:7/9;
                                  grid-column:3/16;
                                  /* background-color: darkred; */
                                  }
    
                    
                    
            main4{
            grid-template-rows:100px 10px 10px 40px 10px 60px 60px  100px 70px 50px 50px ;
            grid-template-columns:3% 3% 3% 3% 3% 3% 3% 3% 10% 10% 10% 10% 10% 10% 10% 10%;
            display:grid;
            /* display:none; */
            }
        
    
     .menuhead{
            grid-row:1/2;
            grid-column:3/10;
            border-radius: 10px 10px 10px 10px;
            /* background-color: aquamarine; */
          }
      .menuhead2{
                  grid-row:1/2;
                  grid-column:10/13;
                  border-radius: 10px 10px 10px 10px;
                  /* background-color:red; */
                }

      .menuhead3{
                  grid-row:1/2;
                  grid-column:13/16;
                  border-radius: 10px 10px 10px 10px;
                  /* background-color:gray; */
                }
                .menuflex-container {
                  display: flex;
                  justify-content: space-between;
                  height: 50px; /* Set a height for the flex container */
                  padding: 10px;
                  border-radius: 20px;
              }
          
              .menuflex-item {
                  flex: 1; /* Equal flex distribution */
                  background-color: #f1f1f1;
                  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                  font-size: 20px;
                  /* margin: 0 10px; */
                  text-align: center;
                  line-height: 50px; /* Center content vertically */
                  border-radius: 20px;
              }
              .menuflex-item:hover
              {
                  background-color: #727272;
              }

      .cuisine{
                margin-left:55px;
                margin-top:35px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size:30px;
              }

        .menuhead4{
                    grid-row:2/6;
                    grid-column:3/16;
                    border-radius:5px 5px 5px 5px;
                    border-radius:10px;
                    /* background-color: yellowgreen; */
                  }
          .menuhead5{
                      grid-row:6/10;
                      grid-column:3/16;
                      /* background-color: aqua; */
                    }
            .menuhead6{
                        grid-row:10/11;
                        grid-column:10/13;
                        border-radius: 10px;
                        background-color: #f1f1f1;
                      }
                      .menuhead6:hover{
                        background-color:#727272;
                      }

                    .container {
                      position: absolute;
                      height: 300px;
                      width: 1200px;
                      margin-left:30px; 
                     
                      display: flex;
                    }
                    
                    .card {
                      display: flex;
                      height: 280px;
                      width: 600px;
                      background-color: #17141d;
                      border-radius: 10px;
                      box-shadow: -1rem 0 3rem #000;
                    /*   margin-left: -50px; */
                      transition: 0.4s ease-out;
                      position: relative;
                      left: 0px;
                    }
                    
                    .card:not(:first-child) {
                        margin-left: -50px;
                    }
                    
                    .card:hover  {
                      transform: translateY(-20px);
                      transition: 0.4s ease-out;
                    }
                    
                    .card:hover ~ .card {
                      position: relative;
                      left: 50px;
                      transition: 0.4s ease-out;
                    }
                  
                    .titleborder{
                      height: 280px;
                      width: 280px; 
                      position: absolute;
                                border-radius:10px;
                               }
                        .menufoodname{
                          
                            color: white;
                            font-weight: 300;
                            position: absolute;
                            left: 20px;
                            top:170px;
                        }
                          .menufoodprice{
                                        color:white;
                                        font-weight: 300;
                                        position: absolute;
                                        left:220px;
                                        top:195px;
                                        }
                                        
                                      .menubutnminus{
                                                  margin-top:-30px;
                                                  background-color:#fff;
                                                  width:50px;
                                                  height:20px;
                                                  
                                                  }
                                    .menubutninput{
                                                margin-top:-30px;
                                                background-color:#fff;
                                                width:70px;
                                                height:20px;
                                                text-align: center;
                                                    }
                                    .menubutnplus{
                                                margin-top:-30px;
                                                margin-left:10px;
                                                background-color:#fff;
                                                width:50px;
                                                height:20px;
                                                }
                                              .placeorder{
                                                          margin-top:2%;
                                                          margin-left:22%;
                                                          font-family:serif;
                                                          font-size: 30px;
                                                          /* background-color: #f1f1f1; */
                                                        }
        
        main5{
            grid-template-rows:200px 100px 100px 100px 100px;
            grid-template-columns:5% 5% 5% 10% 10% 10% 10% 10% 10%  5% 5% 10%;
            display:grid;
            display: none;
            }
    .tblmenu{
          margin-left:200px;
        }
    .menutotal{
      grid-row:1/3;
      grid-column:4/11;
      border-radius:10px;
      background-color: #f1f1f1;
     /* display:none;  */
    }
        
  
                main6{
                  grid-template-rows:200px 100px  ;
                  grid-template-columns:5% 5% 5% 10% 10% 10% 10% 10% 10%  5% 5% 10%;
                  display:grid;
                     }
                                                .zomatolast1{
                                grid-row:1/3;
                                grid-column:1/14;
                                background-color:rebeccapurple;
                                }
                            
                                .zomato-footer {
                                  background-color: #212121;
                                  color: #fff;
                                  padding: 40px 0;
                              }
                              
                              .footer-content {
                                  display: flex;
                                  justify-content: space-between;
                                  flex-wrap: wrap;
                              }
                              
                              .footer-section {
                                                flex-basis: 20%;
                                                margin-bottom: 20px;
                                              }
                              
                              .footer-section a {
                                              color: #fff;
                                              text-decoration: none;
                                              margin-bottom: 10px;
                                              display: block;
                              }
                              
                              .footer-section a:hover {
                                  color: #ccc;
                              }
                              
                              .footer-bottom {
                                  text-align: center;
                                  margin-top: 20px;
                              }
                              
                              .footer-bottom p {
                                  margin: 0;
                              }
                              
                              .footer-section h2 {
                                  margin-bottom: 10px;
                              }
                              
                              .footer-section img {
                                  width: 30px;
                                  height: 30px;
                                  margin-right: 10px;
                              }            
figure.snip1477 {
                            font-family: 'Raleway', Arial, sans-serif;
                            position: relative;
                            overflow: hidden;
                            margin: 10px;
                            min-width: 230px;
                            max-width: 365px;
                            width: 100%;
                            color: #ffffff;
                            text-align: center;
                            font-size: 16px;
                            background-color: #000000;
                            box-shadow: -1rem 0 3rem #000;
                            border-radius: 10px;
                            /* box-shadow: 5px 5px 5px 5px; */
                          }
                          figure.snip1477 *,
                          figure.snip1477 *:before,
                          figure.snip1477 *:after {
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            -webkit-transition: all 0.55s ease;
                            transition: all 0.55s ease;
                            
                          }
                          figure.snip1477 img {
                            max-width: 100%;
                            backface-visibility: hidden;
                            vertical-align: top;
                            opacity: 0.9;
                            /* box-shadow: -1rem 0 3rem #000; */
                          }
                          figure.snip1477 .title {
                            position: absolute;
                            top: 58%;
                            left: 25px;
                            padding: 5px 10px 10px;
                          }
                          figure.snip1477 .title:before,
                          figure.snip1477 .title:after {
                            height: 2px;
                            width: 400px;
                            position: absolute;
                            content: '';
                            background-color: #ffffff;
                            
                          }
                          figure.snip1477 .title:before {
                            top: 0;
                            left: 10px;
                            -webkit-transform: translateX(100%);
                            transform: translateX(100%);
                          }
                          figure.snip1477 .title:after {
                            bottom: 0;
                            right: 10px;
                            -webkit-transform: translateX(-100%);
                            transform: translateX(-100%);
                          }
                          figure.snip1477 .title div:before,
                          figure.snip1477 .title div:after {
                            width: 2px;
                            height: 300px;
                            position: absolute;
                            content: '';
                            background-color: #ffffff;
                          }
                          figure.snip1477 .title div:before {
                            top: 10px;
                            right: 0;
                            -webkit-transform: translateY(100%);
                            transform: translateY(100%);
                          }
                          figure.snip1477 .title div:after {
                            bottom: 10px;
                            left: 0;
                            -webkit-transform: translateY(-100%);
                            transform: translateY(-100%);
                          }
                          figure.snip1477 h2,
                          figure.snip1477 h4 {
                            margin: 0;
                            text-transform: uppercase;
                          }
                          figure.snip1477 h2 {
                            font-weight: 400;
                          }
                          figure.snip1477 h4 {
                            display: block;
                            font-weight: 700;
                            background-color: #ffffff;
                            padding: 5px 10px;
                            color: #000000;
                          }
                          figure.snip1477 figcaption {
                            position: absolute;
                            bottom: 42%;
                            left: 25px;
                            text-align: left;
                            opacity: 0;
                            padding: 5px 60px 5px 10px;
                            font-size: 0.8em;
                            font-weight: 500;
                            letter-spacing: 1.5px;
                        
                          }
                          figure.snip1477 figcaption p {
                            margin: 0;
                          }
                          figure.snip1477 a {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                          
                          }
                          figure.snip1477:hover img,
                          figure.snip1477.hover img {
                            zoom: 1;
                            filter: alpha(opacity=35);
                            -webkit-opacity: 0.35;
                            opacity: 0.35;
                           
                          }
                          figure.snip1477:hover .title:before,
                          figure.snip1477.hover .title:before,
                          figure.snip1477:hover .title:after,
                          figure.snip1477.hover .title:after,
                          figure.snip1477:hover .title div:before,
                          figure.snip1477.hover .title div:before,
                          figure.snip1477:hover .title div:after,
                          figure.snip1477.hover .title div:after {
                            -webkit-transform: translate(0, 0);
                            transform: translate(0, 0);
                           
                          }
                          figure.snip1477:hover .title:before,
                          figure.snip1477.hover .title:before,
                          figure.snip1477:hover .title:after,
                          figure.snip1477.hover .title:after {
                            -webkit-transition-delay: 0.15s;
                            transition-delay: 0.15s;
                           
                          }
                          figure.snip1477:hover figcaption,
                          figure.snip1477.hover figcaption {
                            opacity: 1;
                            -webkit-transition-delay: 0.2s;
                            transition-delay: 0.2s;
                          
                          }


                          